
#include "1XcodeWarnings.xcconfig"

//https://nshipster.com/xcconfig/
//TIP: run a build of your project with `-DAPI_TO_BE_DEPRECATED=10_14` in your CFLAGS. (Substitute 10_14 with your deploy target as needed.)
//This gives you a preview of APIs that are soft deprecated and may be hard deprecated in the future, and many of them come with fix-its now.
OTHER_CFLAGS = -DAPI_TO_BE_DEPRECATED=14_0

SDKROOT = iphoneos

SWIFT_COMPILATION_MODE = singlefile

MARKETING_VERSION = 1.0

IPHONEOS_DEPLOYMENT_TARGET = 14.0

PRODUCT_NAME = $(TARGET_NAME)

PRODUCT_BUNDLE_PREFIX = com.iliosinc

INFOPLIST_FILE = $(PRODUCT_NAME)/Info.plist

COMBINE_HIDPI_IMAGES = YES

ALWAYS_SEARCH_USER_PATHS = NO
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor

DEVELOPMENT_ASSET_PATHS = "$(TARGET_NAME)/Preview Content"
ENABLE_PREVIEWS = YES

SWIFT_VERSION = 5.0
TARGETED_DEVICE_FAMILY = 1,2

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
//LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks

// Code Signing Identity
CODE_SIGN_IDENTITY = iPhone Developer
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = 2WW9KC8P4G
PROVISIONING_PROFILE_SPECIFIER =
CODE_SIGN_INJECT_BASE_ENTITLEMENTS = YES

MTL_FAST_MATH = YES

SUPPORTS_MACCATALYST = NO

COPYRIGHT_YEAR = 2015-2021

// Update this for the current year
COPYRIGHT_YEAR = 2008-2021
// Set this value for NSHumanReadableCopyright
//     <key>NSHumanReadableCopyright</key>
//     <string>$(COPYRIGHT_STRING)</string>
COPYRIGHT_STRING = Copyright © $(COPYRIGHT_YEAR) ILIOS Inc. All rights reserved.
GET_INFO_STRING = $(MARKETING_VERSION) ($(CFBundleVersion)) $(COPYRIGHT_STRING)
