
#include "1XcodeWarnings.xcconfig"

//https://nshipster.com/xcconfig/
//TIP: run a build of your project with `-DAPI_TO_BE_DEPRECATED=10_14` in your CFLAGS. (Substitute 10_14 with your deploy target as needed.)
//This gives you a preview of APIs that are soft deprecated and may be hard deprecated in the future, and many of them come with fix-its now.
OTHER_CFLAGS = -DAPI_TO_BE_DEPRECATED=14_0

MARKETING_VERSION = 1.0

ALWAYS_SEARCH_USER_PATHS = NO
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -O

COMBINE_HIDPI_IMAGES = YES

SDKROOT = iphoneos
IPHONEOS_DEPLOYMENT_TARGET = 14.5
TARGETED_DEVICE_FAMILY = 1,2
SWIFT_VERSION = 5.0

PRODUCT_NAME = $(TARGET_NAME)
PRODUCT_BUNDLE_PREFIX = com.iliosinc

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks

INFOPLIST_FILE = $(TARGET_NAME)/Info.plist

// Code Signing
CODE_SIGN_IDENTITY = iPhone Developer
PROVISIONING_PROFILE_SPECIFIER =

MTL_FAST_MATH = YES

SUPPORTS_MACCATALYST = YES

COPYRIGHT_YEAR = 2021

// Set this value for NSHumanReadableCopyright
//     <key>NSHumanReadableCopyright</key>
//     <string>$(COPYRIGHT_STRING)</string>
COPYRIGHT_STRING = Copyright © $(COPYRIGHT_YEAR) ILIOS Inc. All rights reserved.
GET_INFO_STRING = $(MARKETING_VERSION) $(COPYRIGHT_STRING)
