
#include "2Common.xcconfig"

FRAMEWORK_BUNDLE_VERSION = 1.0-1

CODE_SIGN_IDENTITY =
CODE_SIGN_INJECT_BASE_ENTITLEMENTS =
CODE_SIGN_STYLE =

PRODUCT_BUNDLE_PREFIX = com.iliosinc

COPY_PHASE_STRIP = NO
DYLIB_INSTALL_NAME_BASE = @rpath

INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks

SKIP_INSTALL = YES

DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/Frameworks

DEFINES_MODULE = YES
FRAMEWORK_VERSION = A
INFOPLIST_FILE = $(PRODUCT_NAME)/Info.plist

PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_PREFIX).$(PRODUCT_NAME)

//CLANG_ALLOW_NON_MODULAR_INCLUDES_IN_FRAMEWORK_MODULES = YES

// Set this value for NSHumanReadableCopyright
//     <key>NSHumanReadableCopyright</key>
//     <string>$(COPYRIGHT_STRING)</string>
FRAMEWORK_COPYRIGHT_STRING = Copyright © $(COPYRIGHT_YEAR) ILIOS Inc. All rights reserved.

MTL_FAST_MATH = YES
